<!doctype html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
		<style type="text/css" media="screen">
			body { padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#f4f4f4; -webkit-text-size-adjust:none }
			a { color:#66c7ff; text-decoration:none }
			p { padding:0 !important; margin:0 !important } 
			img { -ms-interpolation-mode: bicubic; }
			.mcnPreviewText { display: none !important; }
			@media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {
				.mobile-shell { width: 100% !important; min-width: 100% !important; }
				.bg { background-size: 100% auto !important; -webkit-background-size: 100% auto !important; }
				.text-header,
				.m-center { text-align: center !important; }
				.center { margin: 0 auto !important; }
				.container { padding: 20px 10px !important }
				.td { width: 100% !important; min-width: 100% !important; }
				.m-br-15 { height: 15px !important; }
				.p30-15 { padding: 30px 15px !important; }
				.p40 { padding: 20px !important; }
				.m-td,
				.m-hide { display: none !important; width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important; min-height: 0 !important; }
				.m-block { display: block !important; }
				.fluid-img img { width: 100% !important; max-width: 100% !important; height: auto !important; }
				.column,
				.column-top,
				.column-empty,
				.column-empty2,
				.column-dir-top { float: left !important; width: 100% !important; display: block !important; }
				.column-empty { padding-bottom: 10px !important; }
				.column-empty2 { padding-bottom: 20px !important; }
				.content-spacing { width: 15px !important; }
			}
		</style>
	</head>
	<body class="body" style="padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#f4f4f4; -webkit-text-size-adjust:none;">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f4f4f4">
			<tbody>
				<tr>
					<td align="center" valign="top">
						<table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
							<tbody>
								<tr>
									<td class="td container" style="width:650px; min-width:650px; font-size:0pt; line-height:0pt; margin:0; font-weight:normal; padding:55px 0px;">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody>
												<tr>
													<td style="padding-bottom: 20px;">
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tbody>
																<tr>
																	<td class="p30-15" style="padding: 25px 30px 25px 30px;" bgcolor="#ffffff">
																		<table width="100%" border="0" cellspacing="0" cellpadding="0">
																			<tbody>
																				<tr>
																					<th class="column-top" width="145" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
																						<img src="https://gm1.ggpht.com/TobOkDNt3Es4GcsNpJPnF7CTYfk9FSLgUf9sUxpcv52GbDi3txJLn1fNwr3pO43aVzRhkULa19JEDeQixAQRc64l4tmODBg2qVUHc3HpUCWqcjjvUAu0HBJBb4bCrla5SsYcFc3PWGlNFAxzKGqIJxO21khnjvSVSHcHuIC0l409ofSsOa8SBgiEfT2SPnv5fdPGYrxYGMGvZqbpdJ5fwrfFEj1c3b0HimxRopfKV2X1zRV1txM02kjL1bTjJpqPX_ySrJzIR9MqbWi64bD2S0SLAqIomkvS1eEhBxolcgsAPyu_B6a16BQ757bUtf43fSNE6_9vDBj48O6-QNV-w4QQw6keILzcnSbF1yO_jDGzMnzCAJEVYVG84UhW1xF9hnVxotvAkpVa7DSLZDQMmIais2C71yIc0J2c-OIOPDcSeOwQmprSKMjPF3ljKE54KRQiilG4k1Yv1zGYhA8QbXntFlBbWbRuxESxlHYqNiDrJW6xXGMume5uTgTobUacYuOlmj-Q6lV0rrVRUA6mp5QLRiwVNImR84nCisfaL5zXdp2POHIoGTwvkp59hJliV0iu2QqdJwbL6zoyjz2B3TI02bpbPiAVBZlLTc6q_nd8Fa2uIfs1uoB7UZkAwkGT88Z3wuqXAOvV5SXUGFStPNkT2ppPxsHLV2dNsbOGW37CiIs_wz5wYYK6YS08D6uVzBj-QMPMBr9A6KVEx5vyThM4DOX1U9hbYJeYR74udPRN2WpiN4rnqwj2IUPBfCetvsB-=s0-l75-ft-l75-ft" width="128" border="0" alt="Email Logo" title="Holiday Accommodation Agency Header" />
																					</th>
																					<th class="column-empty" width="1" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
																					</th>
																					<th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
																						<table width="100%" border="0" cellspacing="0" cellpadding="0">
																							<tbody><tr>
																								<td class="text-header" style="color:#999999; font-family:'Noto Sans', Arial,sans-serif; font-size:12px; line-height:16px; text-align:right; text-transform:uppercase;"><a href="#DOMAIN#home" target="_blank" class="link2" style="color:#999999; text-decoration:none;"><span class="link2" style="color:#999999; text-decoration:none;">#WEBSITENAME#</span></a></td>
																							</tr>
																						</tbody>
																					</table>
																					</th>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
																<tr>
																	<td class="mp15" style="display: inline-block; width: 100%" bgcolor="#a4ca0d" align="center">
											                            <li style="display: inline-block; padding: 20px; font-family:'Noto Sans', Arial,sans-serif; font-size:16px; line-height:22px; text-align:left; font-weight:bold; color:#ffffff;"><a style="color:#ffffff;" href='#DOMAIN#contact'> CONTACT US </a></li>
											                            <li style="display: inline-block; padding: 20px; font-family:'Noto Sans', Arial,sans-serif; font-size:16px; line-height:22px; text-align:left; font-weight:bold; color:#ffffff;"><a style="color:#ffffff;" href='#DOMAIN#about'> ABOUT US </a></li>
											                            <li style="display: inline-block; padding: 20px; font-family:'Noto Sans', Arial,sans-serif; font-size:16px; line-height:22px; text-align:left; font-weight:bold; color:#ffffff;"><a style="color:#ffffff;" href='#DOMAIN#accommodation'> ACCOMMODATION </a></li>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody>
												<tr>
													<td style="padding-bottom: 20px;">
														<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
															<tbody><tr>
																<td class="p30-15" style="padding: 50px 30px;">
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tbody><tr>
																			<td class="h3 pb20" style="color:#114490; font-family:'Noto Sans', Arial,sans-serif; font-size:24px; line-height:32px; text-align:left; padding-bottom:20px;">Account Activation Email</td>
																		</tr>

																		<tr>
																			<td class="text pb20" style="color:#777777; font-family:'Noto Sans', Arial,sans-serif; font-size:14px; line-height:26px; text-align:left; padding-bottom:20px;">
																				<b>Hello #USERNAME#,</b>
																				<br><br>It was great meeting you. We have received a new activation request for your account. You will need to activate your account before you can sign-in. Please click the below button to activate your account.
																			</td>
																		</tr>


																		<tr>
																			<td align="left">
																				<table border="0" cellspacing="0" cellpadding="0">
																					<tbody><tr>
																						<td class="text-button" style="background:#119046; color:#ffffff; font-family:'Noto Sans', Arial,sans-serif; font-size:14px; line-height:18px; padding:12px 20px; text-align:center; border-radius:6px;">
																							<a href="#ACTIVATION-URL#" target="_blank" class="link-white" style="color:#ffffff; text-decoration:none;"><span class="link-white" style="color:#ffffff; text-decoration:none;">ACCOUNT ACTIVATION</span>
																							</a>
																						</td>
																					</tr>
																				</tbody></table>
																			</td>
																		</tr>

																		<tr>
																			<td class="text pb20" style="color:#777777; font-family:'Noto Sans', Arial,sans-serif; font-size:14px; line-height:26px; text-align:left; padding-bottom:20px;">
																				<br>Thanks And Regards,<br>
																				<br><b>[ THIS IS AN AUTOMATICALLY GENERATED EMAIL ]</b>
																				<br>info@jewandara.com
																				<br>(+94) 77 363 2682
																			</td>
																		</tr>

																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody></table>
													</td>
												</tr>
											</tbody>
										</table>
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody>
												<tr>
													<td class="p30-15" style="padding: 50px 30px;" bgcolor="#ffffff">
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tbody>
															<tr>
																<td class="text-footer2 pb30" style="color:#999999; font-family:'Noto Sans', Arial,sans-serif; font-size:12px; line-height:26px; text-align:center; padding-bottom:30px;">
																	Copyright © 2020 | All rights reserved | Rachitha Jeewandara <br>

																</td>
															</tr>
															<tr>
																<td class="text-footer3" style="color:#c0c0c0; font-family:'Noto Sans', Arial,sans-serif; font-size:12px; line-height:18px; text-align:center;">
																	<a href="#DOMAIN#unsubscribe" target="_blank" class="link3-u" style="color:#c0c0c0; text-decoration:underline;"><span class="link3-u" style="color:#c0c0c0; text-decoration:underline;">Unsubscribe</span>
																	</a> | 
																	<a href="#DOMAIN#subscribe" target="_blank" class="link3-u" style="color:#c0c0c0; text-decoration:underline;"><span class="link3-u" style="color:#c0c0c0; text-decoration:underline;">Subscribe</span>
																	</a> | 
																	<a href="#DOMAIN#terms" target="_blank" class="link3-u" style="color:#c0c0c0; text-decoration:underline;"><span class="link3-u" style="color:#c0c0c0; text-decoration:underline;">Terms</span>
																	</a> | 
																	<a href="#DOMAIN#privacy" target="_blank" class="link3-u" style="color:#c0c0c0; text-decoration:underline;"><span class="link3-u" style="color:#c0c0c0; text-decoration:underline;">Privacy</span>
																	</a>
																</td>
															</tr>
														</tbody></table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>